#root {
  color: rgb(0, 0, 0);
  text-align: left;
  padding-top: 100px;
  background-color: rgb(255, 255, 255);
}

h4 {
  height: 45px;
  margin-top: 200px;
  border: 100px;
}

input {
  height: 35px;
  width: 500px;
}

.search-input {
  margin-top: 100px;
  margin-bottom: 10px;
}
.col-4 {
  text-align: center;
}

img {
  text-align: center;
}

p {
  margin-left:50px ;
  margin-right:45px;
  text-align:justify;
  width: 250px;
}
